{% extends "::base.html.twig" %}

{% block title %}DGVoteBundle:Sheet:index{% endblock %}

{% block body %}
<h1>Liste des fiches</h1>
<ul>
{% for sheet in sheets %}
    <li><a href="{{ path('dg_vote_sheet_edit', {'id' : sheet.id}) }}">{{ sheet.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
